*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/K2D-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}


:root {
  /* colors */
  --primary-color: #16191D;
  --text-color: #FFFFFF;
  --component-color: #23272F;
  --contrast-color: #F7CB15;
  --success-color:rgba(112, 251, 117, 0.1); 
  --alert-color: rgba(255,0,0,0.1);

  /* item-colors */
  --shirp: #818C9A;
  --light-blue: #5E98D9;
  --blue: #4B69CD;
  --purple: #7458E4;
  --pink: #D32CE6;
  --red: #EB4B4B;
  --gold: #CAAB05;

  /* quality-colors */
  --bs: #F0555D;
  --ww: #E5B959;
  --ft: #DCE467;
  --mw: #88BD9C;
  --fn: #93F846;
  --statrack: #CF6A32;
  --souvenir: #FFD700;

  /* font */
  --font-main: 'K2D', sans-serif;
  --font-size-base: 15px;
  --font-size-big: 28px;

  /* shadow */
  --shadow-default: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.blocked {
  display: block;
  color: rgba(255,255,255, 0.4);
  cursor: default;
}

.active {
  color: var(--contrast-color);
  font-weight: bold;
}

.sale-button {
  width: 50px;
  height: 45px;
  text-align: center;
  align-items: center;
  border: 2px solid #CE7C2A;
  border-radius: 4px;
  color: #CE7C2A;
  background-color: transparent;
  background-image: url('/images/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s;
}

.sale-button-active {
  background-image: url('/images/minus.svg');
}

.sale-button:hover {
  transform: scale(1.05);
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}