
.items {
  width: 70%;
  height: 100%;
}


.header {
  background-color: var(--component-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 30px;
}

.count {
  display: flex;
  gap: 15px;
}